@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {font-family: 'Satisfy', cursive;

    text-align: center;
    background: rgb(153, 85, 21);
}
.capa {
    width: 100%;
}
.beneficios {
text-align: left;
background-color: rgb(240, 205, 173);
}
ul {
display: inline-block;
vertical-align: top;
margin-right: 100px;
}
li {
padding: 25px;
font-size: 20px;
}
.foto-beneficios{
    width: 40%;
}